<div class="btn">
    <button prizmButton appearance="primary" size="xl" (click)="show()">Создать новый митап</button>
</div>

<div *ngIf="spinnerService.loading$ | async"
    style="position: relative; width: 150px; color: var(--prizm-text-icon-primary)">
    <prizm-spinner size="l"></prizm-spinner>
</div>

<ul class="meetup_list" *ngIf="meetupList$ | async as meetupList">
    <app-meetup (deleteEvent)="delete($event)" *ngFor="let item of meetupList | userFilterMeetups" [meetup]="item"
        [isUserPage]="true"></app-meetup>
</ul>

<ng-template #footerTemp let-completeWith="completeWith">
    <button (click)="completeWith(true)" prizmButton appearance="primary" size="xl">Закрыть</button>
</ng-template>