<article class="about_page">

    <h2>О проекте</h2>
    <p>Приложение для автоматизации планирования проведения митапов.</p>

    <h4>Характеристики проекта:</h4>
    <ul>
        <li>Angular 17</li>
        <li>OnPush-стратегия</li>
        <li>Авторизация</li>
        <li>Библиотеки: Angular HttpClient, Angular Router, Angular Forms, RxJS</li>
        <li>Гуард</li>
        <li>Интерсептор</li>
    </ul>

    <h4>Функционал приложения:</h4>
    <ul>
        <li>Подписывание и отписывание от митапа</li>
        <li>Добавление, редактирование и удаление митапов</li>
        <li>Добавление, редактирование и удаление пользователей</li>
        <li>Фильтрация и поиск митапов по критериям: название, описание, автор, дата, местоположение</li>
        <li>Pagination</li>
        <li>Spinner</li>
    </ul>
</article>