<div *ngIf="!isEdit" class="row">
    <div class="cell">{{user.fio ? user.fio : 'Пользователь'}}</div>
    <div class="cell">{{user.email}}</div>
    <div class="cell">***********</div>
    <div class="cell">
        <div *ngFor="let role of user.roles">{{role.name}}</div>
    </div>
    <div class="cell">

        <button prizmIconButton appearance="primary" size="xl" type="submit" (click)="isEdit = !isEdit">
            <prizm-icons-svg [size]="30" [name]="'gear-8-edge'"></prizm-icons-svg>
        </button>

        <button prizmIconButton appearance="primary" size="xl"
            type="submit" (click)="delete()">
            <prizm-icons-svg [size]="30" [name]="'circle-xmark'"></prizm-icons-svg>
        </button>
    </div>
</div>
<app-user-form [isCreate]="false" *ngIf="isEdit" (updateEvent)="update($event)" (closeFormEvent)="closeForm()"
    [roleList]="roleList" [user]="user"></app-user-form>